<p>list-player works!</p>
<h3>Liste des Joueurs</h3>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Position</th>
      <th>Numéro</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.id }}</td>
      <td>{{ player.lastName }}</td>
      <td>{{ player.firstName }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.playerNumber }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="selectPlayer(player)">
          Sélectionner
        </button>
      </td>
    </tr>
  </tbody>
</table>
