.exercise-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures all cards have equal height */
}

.card-body {
  flex-grow: 1; /* Ensures content expands to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes content evenly */
}

.exercise-details {
  flex-grow: 1; /* Allows details to take available space */
}

.exercise-tags {
  margin-top: auto; /* Pushes the tags to the bottom */
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.progress {
  height: 10px; /* Adjust height */
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.floating-button {
  position: fixed;
  bottom: 20px; /* Adjust this to be above the add button */
  right: 20px;
  cursor: pointer;
  font-size: 15px;
  z-index: 999;
}

.floating-button mat-icon {
  font-size: 24px;
}