<app-gameweek-slider (gameWeekSelected)="onGameWeekSelected($event)"></app-gameweek-slider>

<div class="matches-container">
  <div *ngFor="let league of Object.keys(matchesByLeague)">
    <h2 class="league-title">{{ league }}</h2>

    <div class="match-card" *ngFor="let match of matchesByLeague[league]">
      <div class="match-info">
        <div class="team">
          <img [src]="match.homeTeamLogo" alt="{{ match.homeTeam }}" class="team-logo">
          <span class="team-name">{{ match.homeTeam }}</span>
        </div>

        <span class="match-result">{{ match.result !== null ? match.result : '-' }}</span>

        <div class="team">
          <span class="team-name">{{ match.awayTeam }}</span>
          <img [src]="match.awayTeamLogo" alt="{{ match.awayTeam }}" class="team-logo">
        </div>
      </div>
    </div>
  </div>
</div>
