<nav class="navbar">
   
  
    <!-- Navigation Links -->
    <div class="nav-links">
      <a routerLink="/training-sessions-exercice" class="nav-item">Training Sessions</a>
      <a routerLink="/training-sessions/new" class="nav-item">➕ Add Training Session</a>
      <a routerLink="/training-sessions" class="nav-item">📋 View Sessions</a>
      <a routerLink="/exercices" class="nav-item">➕ show exercices</a>
      <a routerLink="/add-exercise" class="nav-item">➕ Add Exercice</a>

    </div>
  </nav>
  