<div class="container mt-4">
  <h2 class="text-center mb-4">Liste des Ligues</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let league of leagues">
        <td>{{ league.id }}</td>
        <td>{{ league.name }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteLeague(league.id!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
