<mat-dialog-content class="dialog-container">
    <h2>Créer un nouveau dossier</h2>
  
    <form [formGroup]="tacticForm">
      <label>Nom du dossier <span style="color: red;">*</span></label>
      <input matInput formControlName="name" placeholder="Nom du dossier">
    </form>
  
    <div class="button-group">
      <button mat-button (click)="closeDialog()">✖</button>
      <button mat-button (click)="createFolder()" [disabled]="!tacticForm.valid">Créer</button>
    </div>
  </mat-dialog-content>
  