<body>
    <div class="container">
        <h2>Mes dossiers</h2>
      
        <div class="search-bar">
          <input 
            type="text" 
            placeholder="🔍 Search" 
            [(ngModel)]="searchQuery" 
            (keyup)="filterTactics()">
        </div>
      
        <div class="folder-list">
          <div *ngFor="let tactic of filteredTactics; trackBy: trackById" class="folder">
            <div class="folder-content" (click)="tactic.id !== undefined && openTacticFolder(tactic.id)">
              <img src="assets/images/folder.png" alt="Folder Icon">
              <div class="folder-details">
                <h3>{{ tactic.name }}</h3>
                <p>0 Dossiers</p>
                <p>0 Animations</p>
                <p>0 Images</p>
              </div>
            </div>
      
            <!-- Three dots menu -->
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
              ⋮
            </button>
      
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="renameTactic(tactic)">✏️ Renommer</button>
              <button mat-menu-item (click)="copyTactic(tactic)">📄 Copier</button>
              <button mat-menu-item (click)="moveTactic(tactic)">📂 Déplacer</button>
              <button mat-menu-item (click)="tactic.id !== undefined && deleteTactic(tactic.id)" class="delete-button">🗑️ Supprimer</button>
            </mat-menu>
          </div>
        </div>
      
        <div class="add-button">
          <button (click)="openCreateDialog()">➕</button>
        </div>
      </div>
      
      
</body>
  