<header class="site-navbar py-4" role="banner">

  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a routerLink="/" class="nav-link">Home</a></li>
            <li><a routerLink="/tactics" class="nav-link">Tactics</a></li>
            <li><a routerLink="/training-sessions" class="nav-link">Sessions</a></li>
            <li><a routerLink="/exercise-list" class="nav-link">Exercises</a></li>
            

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>